.new-todo{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-direction: space-around;

    width: 70%;
    margin-left: auto;
    margin-right: auto;

}


.new-todo>div{
    flex: 1;
    margin: 5px;
}