.new-todo{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-direction: space-around;

    width: 70%;
    margin-left: auto;
    margin-right: auto;

}


.new-todo>div{
    flex: 1;
    margin: 5px;
}

.list-item{
    display: flex;
    flex-direction: row;

    width: 70%;
    margin-left: auto;
    margin-right: auto;

}


.list-item>div{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 25%;
    padding: 20px;
    margin: 20px;
    text-align: left;
}